.vscode
python/build
python/venv
python/dist
python/*.egg-info
data
python/__pycache__
.venv
python/*.db
python/*.log
python/*.pkl
python/*.txt
python/*.png
.DS_Store
refactored_proj/output*
refactored_proj/*.fvecs